* {
  text-align: center;
}

body {
  /* background-color: #8eddff; */
  background-image: url('eventpage/bodyBack.png');
}

header {
  width: auto;
  height: auto;
  padding-top: 30px;
}

#backBtn{
  position: absolute;
  top:20px;
  left:20px;
  width: 60px;
  height: 60px;
  border: none;
  border-radius: 50%;
  background-color: #0071f9;
  color: white;
}

#backBtn:hover{
  cursor: pointer;
  background-color: #004996;
}

#backBtnImg{
  width: 30px;
  height: 30px;
}

.logIN{
  position: absolute;
  top:20px;
  border: 3px solid #0071f9;
  border-radius: 20px;
  background-color: rgba(0,0,0,0);
  width: 95px;
  height: 52px;
  color: #0071f9;
  font-size: 21px;
  font-weight: bold;
  letter-spacing: 2px;
}

.logIN:hover{
  cursor: pointer;
  background-color:#0071f9;
  color:white;
}

#logIN1{
  right: 20px;
}

#logIN2{
  right: 120px;
}

#headLogo1 {
  display: inline-block;
  background-color: #0071f9;
  margin-top:50px;
  margin-bottom: 25px;
  border-radius: 20px;
  width: 700px;
  color: white;
  font-size: 40px;
  letter-spacing: 2px;
  font-family: 'yg-jalnan';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
}

#headLogo2 {
  display: block;
  font-size: 95px;
  line-height: 105px;
  font-family: 'yg-jalnan';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
}

.nomalTxt{
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
}

#backSmall {
  position: relative;
  margin-top: 20px;
  width: 1000px;
  z-index: -1;
}

.circle {
  position: absolute;
  width: 220px;
  z-index: 2;
  top: 490px
}

#circle2 {
  left:28%;
  position: absolute;
}
#circle3 {
  left: 58%;
  position: absolute;
}

.circleTxt {
  position: absolute;
  top: 700px;
  font-size: 30PX;
}

#circleTxt2 {left: 28%;}
#circleTxt3 {left: 58%;}

.btnGo {
  position: absolute;
  top: 820px;
  width: 120px;
  height: 50px;
  border: none;
  border-radius: 15px;
  background-color: #0071f9;
  color: white;
  font-size: 25px;
  font-family: 'yg-jalnan';
  letter-spacing: 2px;
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
}

.btnGo:hover{
  cursor: pointer;
  background-color: #004996;
}

#btnGo2 {left: 31%;}
#btnGo3 {left: 61.5%;}

#backSmall2 {
  position: relative;
  margin-top: 50px;
  width: 1000px;
  z-index: -1;
}

.evRe {
  position: absolute;
  top: 1130px;
  width: 230px;
}

#evReTxt {
  position: absolute;
  top: 1050px;
  font-size: 30px;
  font-weight: bold;
  left: 50%; transform: translateX(-50%);
}

#evRe1 {left: 30%;}
#evRe2 {left: 50%; transform: translateX(-50%);}
#evRe3 {left: 58%;}

.eventTxt1 {
 position: absolute;
 top: 1400px;
 font-size: 28px;
}

#ev1-1 {
  left: 35%;
  font-weight: bold;
  color: #0071f9;
}

#ev1-2 {
  left: 45%;
  color: #0071f9;
}

.eventTxt2 {
  position: absolute;
  top: 1445px;
  font-size: 28px;
 }

 #downImg {
  width: 850px;
 }

 #foot {
  height: 100px;
 }

 .responsive-img {
  max-width: 100%;
  height: auto;
}
@font-face {
  font-family: 'yg-jalnan';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@media screen and (max-width: 1440px) {
  #circle2 {
    left: 28%;
    position: absolute;
    width: 250px;
    top: 440px;
  }
  #circleTxt2 {
    left: 31%;
    top: 700px;
  }
  #btnGo2 {
    left: 32%;
    top: 800px;
  }
  #circle3 {
    left: 58%;
    position: absolute;
    width: 250px;
    top: 440px;
  }
  #circleTxt3 {
    left: 61%;
    top: 700px;
  }
  #btnGo3 {
    left: 62%;
    top: 800px;
  }
  #evRe1 {
    left: 18%;
    top: 1150px;
    width: 250px;
  }
  #evRe2 {
    left: 50%;
    top: 1150px;
    width: 250px;
    transform: translateX(-50%);
  }
  #evRe3 {
    left: 64%;
    top: 1150px;
    width: 250px;
  }
  #ev1-1 {
    left: 35%;
    top: 1450px;
    font-weight: bold;
    color: #0071f9;
  }
  #ev1-2 {
    left: 45%;
    top: 1450px;
    color: #0071f9;
  }

  #headLogo1 {
    width: 80%; /* 작은 화면에 대한 너비 조절 */
    font-size: 28px; /* 작은 화면에 대한 글꼴 크기 조절 */
  }

  #headLogo2 {
    font-size: 70px; /* 작은 화면에 대한 글꼴 크기 조절 */
    line-height: 80px; /* 작은 화면에 대한 줄 높이 조절 */
  }

  .circleTxt {
    top: 600px; /* 작은 화면에 대한 상단 위치 조절 */
    font-size: 22px; /* 작은 화면에 대한 글꼴 크기 조절 */
  }

  .btnGo {
    font-size: 2vw; /* 상대적인 크기로 조정 */
    font-size: 18px; /* 작은 화면에 대한 글꼴 크기 조절 */
  }

  #backSmall,
  #backSmall2 {
    width: 80%; /* 작은 화면에 대한 너비 조절 */
  }

  .evRe {
    top: 950px; /* 작은 화면에 대한 상단 위치 조절 */
  }

  #evReTxt {
    top: 1100px; /* 작은 화면에 대한 상단 위치 조절 */
    font-size: 22px; /* 작은 화면에 대한 글꼴 크기 조절 */
  }

  .eventTxt1,
  .eventTxt2 {
    top: 1200px; /* 작은 화면에 대한 상단 위치 조절 */
    font-size: 20px; /* 작은 화면에 대한 글꼴 크기 조절 */
  }

  #downImg {
    width: 80%; /* 작은 화면에 대한 너비 조절 */
  }
}
@media screen and (max-width: 1330px) {
  #circle2 {
    left: 28%;
    position: absolute;
    width: 200px;
    top: 440px;
  }
  #circleTxt2 {
    left: 29%;
    top: 650px;
  }
  #btnGo2 {
    left: 30.5%;
    top: 750px;
  }
  #circle3 {
    left: 58%;
    position: absolute;
    width: 200px;
    top: 440px;
  }
  #circleTxt3 {
    left: 60%;
    top: 650px;
  }
  #btnGo3 {
    left: 62%;
    top: 750px;
  }
  #evRe1 {
    left: 18%;
    top: 1050px;
    width: 250px;
  }
  #evRe2 {
    left: 50%;
    top: 1050px;
    width: 250px;
    transform: translateX(-50%);
  }
  #evRe3 {
    left: 64%;
    top: 1050px;
    width: 250px;
  }
  #ev1-1 {
    left: 35%;
    top: 1350px;
    font-weight: bold;
    color: #0071f9;
  }
  #ev1-2 {
    left: 45%;
    top: 1350px;
    color: #0071f9;
  }

  #headLogo1 {
    width: 80%;
    font-size: 28px;
  }

  #circleTxt {
    top: 600px;
    font-size: 22px;
  }

  .btnGo {
    font-size: 2vw;
    font-size: 18px;
  }

  #backSmall,
  #backSmall2 {
    width: 80%;
  }

  .evRe {
    top: 950px;
  }

  #evReTxt {
    top: 1000px;
    font-size: 22px;
  }

  .eventTxt1,
  .eventTxt2 {
    top: 1200px;
    font-size: 20px;
  }

  #downImg {
    width: 80%;
  }
}
@media screen and (max-width: 1186px) {
  #circle2, #circle3 {
    width: 200px;
    top: 420px;
  }

  #circleTxt2 {
    left: 30%;
    top: 620px;
  }
  #circleTxt3 {
    left: 60%;
    top: 620px;
  }

  #btnGo2 {
    left: 31.5%;
    top: 700px;
  }
  #btnGo3{
    left: 61.5%;
    top: 700px;
  }
  #evRe1 {
    left: 19%;
    top: 1000px;
    width: 200px;
  }
  #evRe2 {
    left: 50%;
    top: 1000px;
    width: 200px;
    transform: translateX(-50%);
  }
  #evRe3 {
    left: 64%;
    top: 1000px;
    width: 200px;
  }
  #ev1-1 {
    left: 35%;
    top: 1250px;
    color: #0071f9;
  }

  #ev1-2 {
    left: 45%;
    top: 1250px;
    color: #0071f9;
  }

  #headLogo1 {
    width: 80%;
    font-size: 28px;
  }

  #circleTxt {
    top: 600px;
    font-size: 22px;
  }

  .btnGo {
    font-size: 2vw;
    font-size: 18px;
  }

  #backSmall,
  #backSmall2 {
    width: 80%;
  }

  .evRe {
    top: 950px;
  }

  #evReTxt {
    top: 950px;
    font-size: 22px;
  }

  .eventTxt1,
  .eventTxt2 {
    top: 1200px;
    font-size: 20px;
  }

  #downImg {
    width: 80%;
  }
}
@media screen and (max-width: 1060px) {
  #circle2 {
    left:28%;
    position: absolute;
    width: 150px;
    top: 420px;
  }
  #circleTxt2 {
    left: 28%;
    top: 560px;
  }
  #btnGo2 {
    left: 30%;
    top: 640px;
  }
  #circle3 {
    left: 58%;
    position: absolute;
    width: 150px;
    top: 420px;
  }
  #circleTxt3 {
    left: 58%;
    top: 560px;
  }
  #btnGo3 {
    left: 60%;
    top: 640px;
  }
  #evRe1 {
    left: 15%;
    top: 920px;
    width: 200px;
  }
#evRe2 {
  left: 50%;
  top: 920px; 
  width: 200px;
  transform: translateX(-50%);
}
#evRe3 {
  left: 64%;
  top: 920px; 
  width: 200px;
}
#ev1-1 {
  left: 35%;
  top: 1150px;
  font-weight: bold;
  color: #0071f9; 
}
#ev1-2 {
  left: 45%;
  top: 1150px;
  color: #0071f9;
}

  #headLogo1 {
    width: 80%; /* 작은 화면에 대한 너비 조절 */
    font-size: 28px; /* 작은 화면에 대한 글꼴 크기 조절 */
  }

  #headLogo2 {
    font-size: 70px; /* 작은 화면에 대한 글꼴 크기 조절 */
    line-height: 80px; /* 작은 화면에 대한 줄 높이 조절 */
  }

  .circleTxt {
    top: 600px; /* 작은 화면에 대한 상단 위치 조절 */
    font-size: 22px; /* 작은 화면에 대한 글꼴 크기 조절 */
  }

  .btnGo {
    font-size: 2vw; /* 상대적인 크기로 조정 */
    font-size: 18px; /* 작은 화면에 대한 글꼴 크기 조절 */
  }

  #backSmall, #backSmall2 {
    width: 80%; /* 작은 화면에 대한 너비 조절 */
  }

  .evRe {
    top: 950px; /* 작은 화면에 대한 상단 위치 조절 */
  }

  #evReTxt {
    top: 870px; /* 작은 화면에 대한 상단 위치 조절 */
    font-size: 22px; /* 작은 화면에 대한 글꼴 크기 조절 */
  }

  .eventTxt1, .eventTxt2 {
    top: 1200px; /* 작은 화면에 대한 상단 위치 조절 */
    font-size: 20px; /* 작은 화면에 대한 글꼴 크기 조절 */
  }

  #downImg {
    width: 80%; /* 작은 화면에 대한 너비 조절 */
  }
}
@media screen and (max-width: 768px) {
  #headLogo1 {
    width: 90%; /* 작은 화면에 대한 너비 조절 */
    font-size: 24px; /* 작은 화면에 대한 글꼴 크기 조절 */
  }

  #headLogo2 {
    font-size: 60px; /* 작은 화면에 대한 글꼴 크기 조절 */
    line-height: 70px; /* 작은 화면에 대한 줄 높이 조절 */
  }

  .circleTxt {
    top: 550px; /* 작은 화면에 대한 상단 위치 조절 */
    font-size: 20px; /* 작은 화면에 대한 글꼴 크기 조절 */
  }

  .btnGo {
    top: 670px; /* 작은 화면에 대한 상단 위치 조절 */
    font-size: 16px; /* 작은 화면에 대한 글꼴 크기 조절 */
  }

  #backSmall, #backSmall2 {
    width: 90%; /* 작은 화면에 대한 너비 조절 */
  }

  .evRe {
    top: 880px; /* 작은 화면에 대한 상단 위치 조절 */
  }

  #evReTxt {
    top: 800px; /* 작은 화면에 대한 상단 위치 조절 */
    font-size: 20px; /* 작은 화면에 대한 글꼴 크기 조절 */
  }

  .eventTxt1, .eventTxt2 {
    top: 1050px; /* 작은 화면에 대한 상단 위치 조절 */
    font-size: 18px; /* 작은 화면에 대한 글꼴 크기 조절 */
  }

  #downImg {
    width: 90%; /* 작은 화면에 대한 너비 조절 */
  }
}
@media screen and (max-width: 390px) {
  #headLogo1 {
    width: 90%; /* 작은 화면에 대한 너비 조절 */
    font-size: 16px; /* 작은 화면에 대한 글꼴 크기 조절 */
  }

  #headLogo2 {
    font-size: 36px; /* 작은 화면에 대한 글꼴 크기 조절 */
    line-height: 40px; /* 작은 화면에 대한 줄 높이 조절 */
  }

  .circleTxt {
    top: 470px; /* 작은 화면에 대한 상단 위치 조절 */
    font-size: 14px; /* 작은 화면에 대한 글꼴 크기 조절 */
  }

  .btnGo {
    top: 580px; /* 작은 화면에 대한 상단 위치 조절 */
    font-size: 12px; /* 작은 화면에 대한 글꼴 크기 조절 */
  }

  #backSmall, #backSmall2 {
    width: 90%; /* 작은 화면에 대한 너비 조절 */
  }

  .evRe {
    top: 700px; /* 작은 화면에 대한 상단 위치 조절 */
  }

  #evReTxt {
    top: 630px; /* 작은 화면에 대한 상단 위치 조절 */
    font-size: 14px; /* 작은 화면에 대한 글꼴 크기 조절 */
  }

  .eventTxt1, .eventTxt2 {
    top: 800px; /* 작은 화면에 대한 상단 위치 조절 */
    font-size: 12px; /* 작은 화면에 대한 글꼴 크기 조절 */
  }

  #downImg {
    width: 90%; /* 작은 화면에 대한 너비 조절 */
  }
}
img.responsive-img {
  max-width: 100%; /* 이미지를 부모 요소에 맞게 조정 */
  height: auto; /* 세로 비율 유지 */
}

