* {
  text-align: center;
}

body {
  /* background-color: #8eddff; */
  background-image: url('eventpage/bodyBack.png');
}

header {
  width: auto;
  height: auto;
  padding-top: 30px;
}

#backBtn{
  position: absolute;
  top:20px;
  left:20px;
  width: 60px;
  height: 60px;
  border: none;
  border-radius: 50%;
  background-color: #0071f9;
  color: white;
}

#backBtn:hover{
  cursor: pointer;
  background-color: #004996;
}

#backBtnImg{
  width: 30px;
  height: 30px;
}

.logIN{
  position: absolute;
  top:20px;
  border: 3px solid #0071f9;
  border-radius: 20px;
  background-color: rgba(0,0,0,0);
  width: 95px;
  height: 52px;
  color: #0071f9;
  font-size: 21px;
  font-weight: bold;
  letter-spacing: 2px;
}

.logIN:hover{
  cursor: pointer;
  background-color:#0071f9;
  color:white;
}

#logIN1{
  right: 20px;
}

#logIN2{
  right: 120px;
}

#headLogo1 {
  display: inline-block;
  background-color: #0071f9;
  margin-top:50px;
  margin-bottom: 25px;
  border-radius: 20px;
  width: 700px;
  color: white;
  font-size: 40px;
  letter-spacing: 2px;
  font-family: 'yg-jalnan';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
}

#headLogo2 {
  display: block;
  font-size: 95px;
  line-height: 105px;
  font-family: 'yg-jalnan';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
}

/* #topTxt {
  margin-top: 30px;
  font-size: 30px;
  font-weight: bold;
  color: white;
} */

.nomalTxt{
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
}

#backSmall {
  position: relative;
  margin-top: 20px;
  width: 1000px;
  z-index: -1;
}

.circle {
  position: absolute;
  width: 220px;
  z-index: 2;
  top: 490px
}

#circle1 {left: 653px;}
#circle2 {left: 50%; transform: translateX(-50%);}
#circle3 {left: 1233px;}

.circleTxt {
  position: absolute;
  top: 700px;
  font-size: 30PX;
}

#circleTxt1 {left: 655px;}
#circleTxt2 {left: 50%; transform: translateX(-50%);}
#circleTxt3 {left: 1235px;}

.btnGo {
  position: absolute;
  top: 820px;
  width: 120px;
  height: 50px;
  border: none;
  border-radius: 15px;
  background-color: #0071f9;
  color: white;
  font-size: 25px;
  font-family: 'yg-jalnan';
  letter-spacing: 2px;
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
}

.btnGo:hover{
  cursor: pointer;
  background-color: #004996;
}

#btnGo1 {left: 695px;}
#btnGo2 {left: 50%; transform: translateX(-50%);}
#btnGo3 {left: 1285px;}

#backSmall2 {
  position: relative;
  margin-top: 50px;
  width: 1000px;
  z-index: -1;
}

.evRe {
  position: absolute;
  top: 1130px;
  width: 230px;
}

#evReTxt {
  position: absolute;
  top: 1050px;
  font-size: 30px;
  font-weight: bold;
  left: 50%; transform: translateX(-50%);
}

#evRe1 {left: 655px;}
#evRe2 {left: 50%; transform: translateX(-50%);}
#evRe3 {left: 1223px;}

.eventTxt1 {
 position: absolute;
 top: 1400px;
 font-size: 28px;
}

#ev1-1 {
  left: 830px;
  font-weight: bold;
  color: #0071f9;
}

#ev1-2 {
  left: 980px;
  color: #0071f9;
}

.eventTxt2 {
  position: absolute;
  top: 1445px;
  font-size: 28px;
 }

 #downImg {
  width: 850px;
 }

 #foot {
  height: 100px;
 }

@font-face {
  font-family: 'yg-jalnan';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}