*{text-align: center; }
/*Header*/
#header{
    border: 1px solid black; 
    background-color: #FFFFFF;
    text-align: center;
}
ol {
  list-style: none;
  padding: 0;
}
li {
    /* list-style-type: none;
    display: inline-block;
    border :1px solid black;
    width: 100px;
    height: 50px;
    margin-right : -4px;
    margin-bottom : -15px;
    padding: 10px; */
    display: inline-block;
    text-align: center;
    border: 1px solid #ddd;
    color: #000000;
    padding: 1px;
    line-height: 2;
    margin: 0 -4.5px -1px 0;
    word-break: keep-all;
    width: 150px;
    height: 120px;
}
button{
    width: 147px;
    height: 115px;
    font-size: 1.2em;
    background: #fff;
    border: none;
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    
}
#hoverr li{
  border-radius: 10px;
}
#hoverr li:hover{
  color: #106aca;
  border-bottom: 3px solid #106aca;    
  width: 150px;
}
#hoverr button{
  border-radius: 10px;
}
#hoverr button:hover{
  color:#106aca;
}
.jb-box { 
    width: 100%; 
    height: 700px;
    overflow: hidden;
    margin: 0px auto; 
    position: relative;
    min-width: 1920px
}
video { 
    width: 100%; 
}
.jb-text { 
    position: absolute;
    top: 50%;
    width: 100%;
    color: #ffffff;
}
.jb-text p { 
    margin-top: -24px; 
    text-align: center; 
    font-size: 48px; 
    color: #ffffff; 
}
.jb-box li{
    color: #ffffff;
}
iframe{
    border: 1px solid black; 
    border-radius: 5px;
}

/*Section*/
body{
    overflow-x: hidden;
}
#Kategorie {
    border: 1px solid black;
    height: 200px;
    width: 1080px;
    margin-left: auto;
    margin-right: auto;
}

#job{
    border: 1px solid black; 
    height:715px;
    width: 1080px; 
    margin-left: auto;
    margin-right: auto; 
}
#part{
    border: 1px solid black;
    height:715px;width: 1080px; 
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}
#party{
    border: 1px solid black;
    height: 300px;
    width: 1080px; 
    margin-left: auto;
    margin-right: auto;
}
#online{
    border: 1px solid black;
    height: 700px;
    width: 1080px; 
    margin-left: auto;
    margin-right: auto;
  }

#onlineAsk{
  display: inline-block;
  position: relative;
  top:-55px;
  padding-left: 20px;
  padding-right: 20px;
  width: 535px;
  height: 500px;
}

.onlinebtnTitle{
  font-size: 25px;
  line-height: 50px;
}

.onlinebtn{
  border: none;
  background-color:#eeeeee;
  margin: 10px;
  width: 135px;
  height: 115px;
  display: inline;
  border-radius:20px;
  font-size: 15px;
}

.onlinebtn:hover{
  cursor: pointer;
}

.onlinebtn:focus{
  background-color:#59c7f7;
}

#onlinelongbtn{
  width: 457px;
  height: 90px;
}

#onlinebtnOK{
  font-size: 20px;
}

#onlineForm{
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  display: inline-block;
  margin-top: 130px;
  align-items: center;
}

.onlineFormTxt{
  width: 450px;
  height: 50px;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: left;
  padding:10px;
  border-radius:10px;
  border: 2px solid #bebebe
}

.onlineFormTxt:hover{
  border: 2px solid #59c7f7;
}

.onlineFormTxt:focus{
  outline: 1px solid #59c7f7;
}

.onlineFormTel{
  width:124px;
  height: 50px;
  font-size: 20px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: left;
  padding:10px;
  border-radius:10px;
  border: 2px solid #bebebe
}

.onlineFormTel-- {
  font-size: 20px;

}

.onlineFormTel > option {
  text-align: left;
}

.onlineFormTel:hover{
  border: 2px solid #59c7f7;
}

.onlineFormTel:focus{
  outline: 1px solid #59c7f7;
}


#nobodyReadTitle{
  font-size: 25px;
  line-height: 58px;
}

#nobodyRead{
  position: relative;
  left:21px;
  padding:20px;
  border: 2px solid #bebebe;
  overflow-y: scroll;
  width: 452px;
  height: 186px;
  border-radius:10px;
  text-align: left;
}

#ckbx {
  position: relative;
  top: 1.5px;
}

#onlineSubmit{
  position: relative;
  top:5px;
  left:125px;
  width: 200px;
  height: 53px;
  font-size: 25px;
  border-radius:10px;
  border: none;
  background-color: #59c7f7;
  color:#FFFFFF;
  font-weight: bold;
}

#onlineSubmit:hover{
  cursor: pointer;
  background-color: #106aca;
}

/*Footer*/
#footer{
  border: 1px solid black; 
  height: 200px; 
  background-color: #333333;
}
#prr{
    text-align: left;
    border-top: 1px dotted white; 
    width: 700px;
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
}
#onlin{
    width: 1080px; 
    margin-left: auto;
    margin-right: auto;  
    color: gainsboro;
}
#link{
    margin-right: 5px; 
    text-align: left;
}
.image{
    border-radius: 10px; 
    width:25px; 
    height: 25px
}
.Box{display: inline-block; 
    padding-right: 20px ; 
    color: gainsboro; 
    font-size: small;
}
#textBox{
    width: 1080px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    margin-bottom: -10px;
}
@font-face {
font-family: 'yg-jalnan';
src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
font-weight: normal;
font-style: normal;
}
/* Noto Sans */
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * { 
 font-family: 'Noto Sans KR', sans-serif;
}
/* Pretendard */
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
#back{
  background-image: url(./images/color/후보3.jpg);
  height: 100%;
  margin-left: auto;
  margin-right: auto; 
}