/* 스크롤 배경 색상 변경 */
body {
  margin: 0;
  padding: 0;
  transition: background-color 0.5s;
}

#BackText1 {
  margin-top: 30px;
  padding: 25px;
  padding-top: 10px;
  text-align: center;
  position: relative;
  float:inline-end;
  top: 599px;
  border-radius: 10px;
  width: 1080px;
  height: 130px;
  background-image: url("../images/color/후보4.jpg");
}

.tubeTxt1 {
  line-height: 38px;
  font-size: 30px;
  font-weight: bold;
}

.tubeTxt2 {
  font-size: 20px;
} 

.tubeTxt3 {
  font-size: 25px;
}

#video-container {
  position: relative;
  margin: 20px auto;
  text-align: center;
}

#boxYoutube {
  position: absolute;
  left: 0;
  width: 1080px;
  height: 600px;
}

/* 스크롤 제목 효과*/
.aniTitle {
  opacity: 0.2;
  transition: opacity 1s, top 0.5s;
}

#reviewTitle {
  position: relative;
  align-items: center;
  top:30px
}

#partyTitle {
  position: relative;
  align-items: center;
  top:50px
}

#onlineTitle {
  position: relative;
  align-items: center;
  top: 30px;
}