/* 캐러셀 스타일 */
*{
  box-sizing: border-box;
}
.carouselBox {
  width: 1080px;
  height: 400px;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
}

.carousel {
  display: flex;
  transition: transform 0.3s ease;
  margin-top : 90px;
}

.carouselBox .carousel img {
  width: 360px;
  height: 250px;
  transition: all 0.5s;
}

.carouselBox .carousel img.active {
  opacity: 1;
}

.carousel img:hover {
  transition: all 0.1s;
  border: 5px solid rgba(255,255,255,0);
}

/* 자동 캐러셀 스타일 */
.carouselBox2 {
  position: relative;
  width: 1060px;
  left: -40%;
  top:40px
}

.carousel2 {
  display: flex;
  transition: transform 2s ease;
}

.carousel2 img {
  margin: 10px;
}
