/* 캐러셀 스타일 */
*{
  box-sizing: border-box;
}
.carouselBox {
  width: 1080px;
  height: 400px;
  overflow: hidden;
  position: relative;
  margin-top: 80px;
}

.carousel {
  display: flex;
  transition: transform 0.3s ease;
  margin-top : 50px;
}

.carouselBox .carousel img {
  width: 360px;
  height: 250px;
}

.carouselBox .carousel img.active {
  opacity: 1;
}

.carousel img:hover {
  border: 8px solid red;
}

.prev, .next {
  cursor: pointer;
  width: 30px;
  height: 30px;
  background-size: contain;
}

.prev {
  background-image: url('prevImg.png');
}

.next {
  background-image: url('nextImg.png');
}

/* 자동 캐러셀 스타일 */
.carouselBox2 {
  position: relative;
  width: 1060px;
  left: -40%;
}

.carousel2 {
  display: flex;
  transition: transform 2s ease;
}

.carousel2 img {
  margin: 10px;
}
