#Kategorie {
    border: 1px solid black;
    height: 200px;
    width: 1080px;
    margin-left: auto;
    margin-right: auto;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: rgba(248, 248, 248, 1); 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: width 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease; 
}
#Kategorie.transparent {
    background-color: rgba(248, 248, 248, 0.9); /* 투명도가 있는 배경색으로 변경 */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#Kategorie-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 0 20px;
}

#Kategorie-content h1 {
    margin: 0;
    font-size: 24px;
    color: #333;
}