.stamp_layer {
  display: none;
  position:fixed;
  top:0;
  left:0;
  z-index: 100; 
  width: 100%; 
  height: 100%; 
  background-color: rgba(0, 0, 0, 0.4); 
}
.stamp_box {
  position: relative;
  top:30px;
  left:30px; 
  overflow: auto; 
  height: 500px; 
  width: 600px;

  overflow-x: hidden;
  overflow-y: hidden;
  z-index:1002;
  box-sizing:border-box;
  background:#fff;
  box-shadow: 2px 5px 10px 0px rgba(0,0,0,0.35);
  -webkit-box-shadow: 2px 5px 10px 0px rgba(0,0,0,0.35)
  ;-moz-box-shadow: 2px 5px 10px 0px rgba(0,0,0,0.35);
}
.closePop3 {
  height : 30px;
  width : 800px;
  float : top;
  padding-left: 360px;
  
}

/* 이벤트 창 팝업 레이어 스타일 */
.stamp_box{
  background-image: url(popupBack2.png);
}

.stamp_box .stamp_cont {
  width: 700px;
  height: 700px;
  margin-left :auto;
  margin-right :auto;
}

#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

#stampButton {
  position: fixed;
  width: 60px;
  height: 150px;
  right: 15px;
  bottom: 30px;
  border-radius: 10px;
  background-color: rgba(22, 4, 4, 0.5 0.9);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, transform 0.4s ease-in-out;
  font-family: 'yg-jalnan';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff'); 
}

#stampButton div {
  padding: 10px;
  margin : 4px;
  font-size: 16px;
}
#open {
  position: fixed;
  width: 60px;
  height: 60px;
  right: 15px;
  padding-top : 15px;
  bottom: 220px;
  font-size: 35px;
  /* border-radius: 10px; */
  /* background-color: rgba(22, 4, 4, 0.5); */
  /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); */
  cursor: pointer;
  opacity: 0.5;
  transition: all 0.5s;
  transition: background-color 0.3s ease-in-out, transform 0.4s ease-in-out;
  font-family: 'yg-jalnan';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
}
#open:hover {
  opacity: 1;
  
}
#stampButton div a { 
  text-decoration: none;
  color : black;
}

#stampButton div:hover{
  background-color: rgba(41, 128, 185, 0.7);
  transform: scale(1.0.9);
  border-radius: 15px;

}

#eventpage {
  border: 2px solid #106aca;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  font-size: 19px;
  width: 180px;
  height: 40px;
  margin-top: 10px;
  font-weight: bold;
  font-family: 'Pretendard-Regular';
  transition: background-color 0.3s ease; /* 부드러운 색 변화를 위한 트랜지션 추가 */
  text-align: center; /* 텍스트 중앙 정렬 */
  line-height: 35px; /* 텍스트 수직 중앙 정렬 */
  position: absolute;
  top:410px;left: 35%;
}

#eventpage:hover {
  cursor: pointer;
}

#stampPopup_text{
  position: absolute;
  top:199px;left: 19%;
  font-size: 35px;
  font-weight: bold;
  font-family: 'Pretendard-Regular'
}

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
